@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://static.tildacdn.com/tild3032-3834-4136-b536-303232626662/photo.svg);
  background-repeat: repeat;
  background-size: cover;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-size: 28px;
  text-transform: uppercase;
  color: #333333;
  margin-bottom: 10px;
}
h3 {
  font-family: "Source Code Pro";
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgba(153, 103, 186, 1);
  margin-bottom: 40px;
}
.avatar {
  width: 150px;
  height: 200px;
}
.contacts {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.info {
  margin-left: 24px;
}
.info > li {
  margin-bottom: 10px;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  color: #333333;
}
.info > li:first-child {
  list-style-image: url(../src/mail.png);
}
.info > li:nth-child(2) {
  list-style-image: url(../src/github.png);
}
.info > li:last-child {
  list-style-image: url(../src/tel.png);
}
.info > li > a {
  text-decoration: none;
  color: rgb(124, 71, 160);
}
main {
  flex: 1;
}
h2 {
  text-align: center;
  font-family: "Source Code Pro";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgb(86, 20, 131);
  margin: 15px 0;
}
p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #181818;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.skills > li {
  margin-bottom: 10px;
  margin-right: 40px;
}
.code a {
  text-decoration: none;
  color: rgb(86, 20, 131);
  font-weight: 700;
}
.experience h4 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  margin: 10px 0;
}
.date {
  font-style: italic;
  margin-bottom: 10px;
}
.certificates p {
  margin-bottom: 10px;
}
.rsschool {
  width: 300px;
  margin-bottom: 10px;
}
.git-block {
  display: flex;
}
.git {
  display: block;
  margin-right: 15px;
}
.git img {
  width: 15px;
  height: 15px;
}
.time {
  font-family: "Source Code Pro";
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}
.menu {
  display: none;
  align-items: center;
  height: 50px;
}
.menu a {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(86, 20, 131);
  font-weight: 700;
  font-family: "Source Code Pro";
}
.nav {
  background-color: rgb(153, 99, 189);
  position: sticky;
  top: 0;
}
@media (max-width: 550px) {
  .menu {
    display: none;
  }
  .trigger {
    display: inline-block;
    margin: 3px 3px 3px 15px;
    cursor: pointer;
  }
  .trigger i {
    display: block;
    width: 30px;
    height: 4px;
    margin: 4px auto;
    background: rgb(53, 52, 52);
  }
  .show {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .contacts {
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .contacts-img {
    margin: 0 auto;
    order: -1;
    padding-bottom: 15px;
  }
  h1,
  h3 {
    text-align: center;
  }
  h3 {
    margin-bottom: 15px;
  }
  .rsschool {
    width: 250px;
  }
}
